.forecast {
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 450px;
    left:-10px;
    margin: 20px auto 0 auto;
    padding: 10px 10px 5px;
    width: 650px;
    background: #f3f3f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
    .h3 {
        margin: -20px -20px 21px;
        line-height: 40px;
        font-size: 25px !important;
        font-weight: bold;
        color: #555;
        text-align: center;
        text-shadow: 0 1px white;
        background: #f3f3f3;
        border-bottom: 1px solid #cfcfcf;
        border-radius: 3px 3px 0 0;
        background-image: -webkit-linear-gradient(top, white, #eef2f5);
        background-image: -moz-linear-gradient(top, white, #eef2f5);
        background-image: -o-linear-gradient(top, white, #eef2f5);
        background-image: linear-gradient(to bottom, white, #eef2f5);
        -webkit-box-shadow: 0 1px whitesmoke;
        box-shadow: 0 1px whitesmoke;
    }

TD {
    
    text-align: right;
    
    text-shadow: 0 1px white;
    width:100px;
}
TH {
    text-align: right;
    text-shadow: 0 1px white;
    width: 130px;
}
p {
    text-align: center;
}
.center-img {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    
}
#image {
    background-repeat: no-repeat;
    background-position: top;
    animation: moving 30s infinite linear;
    position: absolute;
    left: 220px;
}
@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}

#container {
    
    position: relative;
}

body {
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 15px;
    background-color: rgb(231, 233, 235);*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: rgb(231, 233, 235);
    color: #333;
}

