.logout {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 5px;
    width: 310px;
    background: green;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}